.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App main {
    background-color: #383838;
    color: #fff;
    padding: 10px;
  }
  
  .App ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .App ul li {
    background-color: #383838;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: flex-start;
    line-height: 1;
  }
  
  .App li .drag {
    margin-right: 15px;
    cursor: move;
  }
  
  .App li svg {
    height: 2rem;
    color: #fff;
  }
